/*common styles*/

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

body {
	background: #fff;
}

div[class$="__btnWrap"] {
	text-align: center;
}

a[class$="__orderButton"] {
	display: inline-block;
	-webkit-transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s;
	transition: all .6s ease 0s;
}

/*main styles*/

.container {
	max-width: 1030px;
}

.main {
	background: #403e3c url(../img/main/bg/bg_main.jpg) center 0 no-repeat;
	background-size: cover;
}
/* ------------------------>>> header <<<----------------------------------------------------- */
.header {
	padding: 5px 0;
}

.header__link {
	display: block;
	float: left;
}

.header__img {
	display: inline-block;
	height: 91px;
	width: 72px;
}

.header__logoText {
	color: #fff;
	font-family: "RobotoRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	margin: 0 0 0 26px;
	display: inline-block;
	position: relative;
	top: 12px;
}

.header__logoText>span {
	font-size: 24px;
	line-height: 24px;
	display: block;
}

.header__phoneOrder {
	float: right;
	padding: 39px 0 0;
}

.header__phone {
	display: block;
	font-family: "RobotoRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 18px;
	color: #fff;
	text-transform: uppercase;
	
	-webkit-transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s;
	transition: all .6s ease 0s;

	margin: 0 0 7px;
}

.header__phone:hover {
	color: #fff;
}

.header .glyphicon.glyphicon-menu-hamburger {
	display: none;
}

.header__nav {
	display: table;
	margin: 28px auto 0;
}

.header__navList:after {
	display: table;
	content: "";
	clear: both;
}

.header__navItem {
	float: left;
}

.header__navLink {
	display: block;
	font-family: "RobotoRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 16px;
	color: #fff;
	padding: 10px 27px;

	-webkit-transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s;
	transition: all .6s ease 0s;
}

.header__navLink:hover {
	color: #fff;
}

@media ( max-width: 992px ) {

	.header__navList {
		display: none;
	}

	.header .glyphicon.glyphicon-menu-hamburger {
		display: block;
		font-size: 30px;
		color: #fff;
		position: absolute;
		right: 0;
		top: 50%;
	}

	.glyphicon.glyphicon-menu-hamburger:hover {
		cursor: pointer;
	}

	.header__phoneOrder {
		position: relative;
		padding-right: 50px;
	}

	.header__navList {
		position: absolute;
		top: 100px;
		left: 0;
		right: 0;
		z-index: 999;
	}

	.header__navItem {
		float: none;
	}

	.header__navLink {
		text-align: center;
		background: #000;
		border-bottom: 1px solid #fff;
		color: #fff;
		opacity: .9;

		-webkit-transition: all .6s ease 0s;
		-moz-transition: all .6s ease 0s;
		-o-transition: all .6s ease 0s;
		transition: all .6s ease 0s;
	}

	.header__navItem:first-child {
		border-top: 1px solid #fff;
	}

	.header__navLink:hover {
		color: #fff;
		background: #2e2b2e;
	}


}

@media ( max-width: 460px ) {

	.header__logoText {
		display: none;
		font-size: 16px;
		margin-left: 0;
	}

	.header__phone {
		font-size: 17px;
	}

	.header__phoneOrder {
		padding-right: 40px;
	}

	.header__img {
		height: 63px;
		width: 51px;
		margin-top: 18px;
	}

	.header {
		padding-top: 0;
		padding-bottom: 5px;
	}

}
/* ------------------------>>> header End <<<---------------------------------------- */



/* ------------------------>>> orderBlock <<<----------------------------------------------------- */
.orderBlock {
	padding: 55px 0 54px;
}

.orderBlock__item:after {
	display: table;
	content: "";
	clear: both;
}

.orderBlock__mainTitle {
	font-family: "RobotoLight";
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 35px;
	color: #fff;
	text-align: center;

	margin: 0 0 22px;
}

.orderBlock__title {
	font-family: "RobotoLight";
	font-style: normal;
	font-weight: normal;
	font-size: 22px;
	line-height: 26px;
	color: #fff;
	text-align: center;

	margin: 0 0 50px;
}

.orderBlock__title span {
	font-family: "RobotoRegular";
	font-style: normal;
	font-weight: normal;
}

.orderBlock__formBlock:after {
	display: table;
	content: "";
	clear: both;
}

.orderBlock__formBlock {
	background: #f8f9fa;
	padding: 23px 54px 0;
	text-align: center;
	margin-left: 45px;
	margin-right: 45px;
}

.orderBlock__formTitle {
	font-family: "RobotoRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #3e3c3c;

	margin: 0 0 12px;
}

.orderBlock__formSubtitle {
	font-family: "RobotoRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #676464;

	margin: 0 0 22px;
} 

.orderBlock__formBlock input {
	display: block;
}

.orderBlock__inputItem {
	float: left;
	margin-right: 25px;
	margin-bottom: 22px;
	width: 250px;
	position: relative;
}

.orderBlock__inputItem:last-child {
	margin-right: 0;
}

.orderBlock__inputText {
	background: #fff;
	height: 41px;
	line-height: 41px;
	width: 100%;
	border: 3px solid #eef0f2;
	font-family: "RobotoLight";
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: #1c1a1a;
	text-align: center;
}

.orderBlock__inputSubmit {
	width: 100%;
	height: 41px;
	line-height: 41px;
	background: #f5fd1d;
	border: 0 none;
	outline: none;
	font-family: "RobotoRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: #1c1a1a;
	text-transform: uppercase;
	text-align: center;

	-webkit-transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s;
	transition: all .6s ease 0s;
}

.orderBlock__inputItem:last-child:after {
	content: '';
	display: block;
	width: 151px;
	height: 174px;
	background: url(../img/main/santa.png) 0 0 no-repeat;
	position: absolute;
	left: 156px;
	top: -130px;
	z-index: 2;
}

.orderBlock__inputSubmit:hover {
	background: #f4cc2f;
}

.orderBlock__formInputWrap:after {
	display: table;
	content: "";
	clear: both;
}

@media ( max-width: 1200px ) {

	.orderBlock__mainTitle {
		font-size: 23px;
	}

	.orderBlock__title {
		font-size: 19px;
	}

	.orderBlock__inputItem {
		width: 230px;
	}

	.orderBlock__inputItem:last-child:after {
		left: 135px;
	}

}

@media ( max-width: 992px ) {

	.orderBlock {
		padding-top: 0;
	}

	.orderBlock__content {
		float: none;
		text-align: center;
		margin-bottom: 40px;
	}

	.orderBlock__formBlock {
		margin-left: 0;
		margin-right: 0;
		padding-left: 35px;
		padding-right: 35px;
	}

	.orderBlock__inputItem {
		width: 200px;
	}

	.orderBlock__inputItem:last-child:after {
		left: 105px;
	}

}

@media ( max-width: 768px ) {

	.orderBlock__inputItem {
		width: 49%;
		margin-right: 1%;
	}

	.orderBlock__inputItem:nth-child(2) {
		margin-right: 0;
	}

	.orderBlock__inputItem:last-child {
		float: none;
		width: 60%;
		margin-right: auto;
		margin-left: auto;
	}

	.orderBlock__formBlock {
		padding-left: 20px;
		padding-right: 20px;
	}

	.orderBlock__inputItem:last-child:after {
		display: none;
	}
}

@media ( max-width: 620px ) {

	.orderBlock__mainTitle {
		font-size: 16px;
		font-weight: 700;
	}

	.orderBlock__title {
		font-size: 16px;
	}

	.orderBlock__formTitle {
		font-size: 16px;
	}

}

@media ( max-width: 450px ) {

	.orderBlock {
		padding-bottom: 0;
	}

	.orderBlock__formBlock {
		width: auto;
		margin-left: -15px;
		margin-right: -15px;
		padding: 15px;
	}

	.orderBlock__inputSubmit {
		font-size: 14px;
	}

	.orderBlock__inputItem,
	.orderBlock__inputItem:last-child,
	.orderBlock__inputItem:nth-child(2) {
		width: 80%;
		margin-right: auto;
		margin-left: auto;
		float: none;
	}
}
/* ------------------------>>> orderBlock End <<<------------------------------------------------- */



/* ------------------------>>> gift <<<----------------------------------------------------- */
.gift {
	padding: 50px 0;
	background: #fff;
}

.gift__container,
.gift__innerItem {
	padding-left: 37px;
	padding-right: 37px;
}

.gift__row {
	margin-right: -37px;
	margin-left: -37px;
}

.gift__header {
	text-align: center;

	margin: 0 0 20px;
}

.gift__img {
	display: inline-block;
	width: 111px;
	height: 111px;

	-webkit-transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s;
	transition: all .6s ease 0s;
}

.gift__img:hover {
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

.gift__footer {
	text-align: center;
	font-family: "RobotoRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #181616;
	min-height: 61px;
}

.gift__btnWrap {
	padding-top: 20px;
	text-align: center;
}

.gift__orderButton {
	width: 245px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-family: "RobotoRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: #161414;
	background: #f5fd1d;
	display: inline-block;

	-webkit-transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s;
	transition: all .6s ease 0s;
}

.gift__orderButton:hover {
	background: #f4cc2f;
	color: #161414;
}

@media ( max-width: 1200px ) {

	.gift__container,
	.gift__innerItem {
		padding-left: 15px;
		padding-right: 15px;
	}

	.gift__row {
		margin-right: -15px;
		margin-left: -15px;
	}

}

@media ( max-width: 768px ) {

	.gift__innerItem {
		margin-bottom: 30px;
	}

	.gift__innerItem:nth-child(3) {
		width: 100%;
		margin-bottom: 0;
	}

	.gift__footer {
		font-size: 14px;
	}

}

@media ( max-width: 479px ) {

	.gift__innerItem {
		width: 100%;
		margin-bottom: 40px;
	}

	.gift__footer {
		min-height: 0;
	}

	.gift__header {
		margin-bottom: 10px;
	}

	.gift__orderButton {
		font-size: 15px;
	}

}
/* ------------------------>>> gift End <<<------------------------------------------------- */



/* ------------------------>>> tasks <<<----------------------------------------------------- */
.tasks {
	padding: 50px 0;
	background: url(../img/tasks/bg/bg_tasks.png) center 0 no-repeat;
	background-size: cover;
	position: relative;
	z-index: 2;
}

.tasks__title {
	text-align: center;
	font-family: "robotothin";
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: #fff;

	margin: 0 0 50px;
}


.tasks__container,
.tasks__innerItem {
	padding-left: 37px;
	padding-right: 37px;
}

.tasks__row {
	margin-left: -37px;
	margin-right: -37px;
}

.tasks__innerItem {
	margin-bottom: 40px;
}

.tasks__header {
	text-align: center;
	margin: 0 0 15px;
}

.tasks__img {
	display: inline-block;
	width: 111px;
	height: 111px;

	-webkit-transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s;
	transition: all .6s ease 0s;
}

.tasks__img:hover {
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

.tasks__footer {
	text-align: center;
	font-family: "RobotoRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: #fff;
}

.tasks__btnWrap {
	padding-top: 10px;
	text-align: center;
}

.tasks__orderButton {
	width: 321px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-family: "RobotoRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: #161414;
	background: #f5fd1d;
	display: inline-block;

	-webkit-transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s;
	transition: all .6s ease 0s;
}

.tasks__orderButton:hover {
	background: #f4cc2f;
	color: #161414;
}

@media ( max-width: 1200px ) {

	.tasks__container,
	.tasks__innerItem {
		padding-left: 15px;
		padding-right: 15px;
	}

	.tasks__row {
		margin-left: -15px;
		margin-right: -15px;
	}

}

@media ( max-width: 992px ) {

	.tasks__title {
		font-size: 25px;
	}

}

@media ( max-width: 768px ) {

	.tasks__title {
		font-size: 20px;
	}

}

@media ( max-width: 479px ) {

	.tasks__innerItem {
		width: 100%;
	}

	.tasks {
		padding: 30px 0 60px;
	}

	.tasks__orderButton {
		font-size: 15px;
		width: 100%;
	}

}

@media ( max-width: 400px ) {

	.tasks__orderButton {
		font-size: 13px;
		font-weight: 500;
	}

}
/* ------------------------>>> tasks End <<<------------------------------------------------- */



/* ------------------------>>> coach <<<----------------------------------------------------- */
.coach {
	background: #707274 url(../img/coach/bg/bg_coach.jpg) center 0 no-repeat;
	background-size: cover;
	margin: -116px 0 0;
	padding: 170px 0 120px;
	position: relative;
	z-index: 1;
}

.coach__item:after {
	display: table;
	content: "";
	clear: both;
}

.coach__info {
	float: right;
	width: 555px;
}

.coach__title:after {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 131px;
	height: 2px;
	background: #fff;
}

.coach__title {
	position: relative;
	font-family: "robotothin";
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;
	padding: 0 0 12px;

	margin: 0 0 18px;
}

.coach__name {
	font-family: "RobotoRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: #fff;

	margin: 0 0 58px;
}

.coach__listItem:before {
	content: "";
	display: block;
	position: absolute;
	left: 22px;
	top: 10px;
	width: 8px;
	height: 8px;
	background: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

.coach__listItem {
	font-family: "RobotoRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #fff;
	padding: 0 0 0 75px;
	position: relative;

	margin: 0 0 26px;
}

@media ( max-width: 992px ) {

	.coach__title {
		font-size: 25px;
	}

	.coach__name {
		font-size: 18px;
	}

	.coach__listItem {
		font-size: 16px;
	}

}

@media ( max-width: 768px ) {

	.coach {
		background-image: url(../img/coach/bg/bg_coach_small_screen.jpg);
	}

	.coach__info {
		width: 100%;
	}

	.coach__title:after {
		left: 50%;
		margin-left: -65px;
	}

	.coach__title {
		text-align: center;
	}

	.coach__name {
		text-align: center;
	}

	.coach__list {
		display: table;
		margin-left: auto;
		margin-right: auto;
	}

	.coach__listItem {
		padding-left: 50px;
	}

}

@media ( max-width: 479px ) {

	.coach__title {
		font-size: 20px;
	}

	.coach__name {
		font-size: 16px;
		margin-bottom: 40px;
	}

	.coach__listItem:before {
		width: 6px;
		height: 6px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
	}

	.coach__listItem {
		font-size: 14px;
		padding-left: 40px;
	}

	.coach {
		padding-bottom: 60px;
		padding-top: 158px;
	}

}
/* ------------------------>>> coach End <<<------------------------------------------------- */


/* ------------------------>>> clients <<<----------------------------------------------------- */
.clients {
	padding: 54px 0 20px;
	background: #fff;
}

.clients__title {
	text-align: center;
	font-family: "robotothin";
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	text-transform: uppercase;

	margin: 0 0 50px;
}

.clients__inner:after {
	display: table;
	content: "";
	clear: both;
}

.clients__innerItem {
	float: left;
	display: block;
	margin-right: 34px;
	height: 70px;
	line-height: 70px;

	margin-bottom: 34px;
}

.clients__innerItem:nth-child(6) {
	margin-right: 0;
}

.clients__img {
	display: inline-block;
	vertical-align: middle;
	-webkit-transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s;
	transition: all .6s ease 0s;
}

.clients__innerItem:hover .clients__img {
	-webkit-transform:translate3d(0, 0, 0);
  
    -webkit-animation-name:pulse;
    -moz-animation-name:pulse;
    -ms-animation-name:pulse;
    -o-animation-name:pulse;
    animation-name:pulse;
  
    -webkit-animation-duration:0.8s;
    -moz-animation-duration:0.8s;
    -ms-animation-duration:0.8s;
    -o-animation-duration:0.8s;
    animation-duration:0.8s;
  
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    -o-animation-fill-mode:both;
    animation-fill-mode:both


}

@keyframes pulse {
    0%   { transform:scale(1) }
    50%  { transform:scale(1.1) }
    100% { transform:scale(1) }
}

@media ( max-width: 1200px ) {

	.clients__innerItem {
		margin-right: 22px;
	}

}

@media ( max-width: 992px ) {

	.clients__innerItem {
		width: 33.333333%;
		text-align: center;
	}

	.clients__innerItem,
	.clients__innerItem:nth-child(6) {
		margin-right: 0;
	}

	.clients {
		padding-top: 30px;
	}

	.clients__title {
		margin-bottom: 30px;
		font-size: 25px;
	}

}

@media ( max-width: 560px ) {

	.clients__innerItem {
		width: 50%;
	}

}

@media ( max-width: 479px ) {

	.clients__title {
		font-size: 20px;
	}

	.clients__innerItem {
		width: 100%;
	}

}
/* ------------------------>>> clients End <<<------------------------------------------------- */


/* ------------------------>>> pattern <<<----------------------------------------------------- */
.pattern {
	padding: 55px 0 10px;
	background: #4b4f55 url(../img/pattern/bg/bg_pattern.jpg) center 0 no-repeat;
	background-size: cover;
}

.pattern__title {
	text-align: center;
	text-transform: uppercase;
	font-family: "robotothin";
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: #fff;

	margin: 0 0 55px;
}

.pattern__header {
	text-align: center;

	margin: 0 0 26px;
}

.pattern__img {
	display: inline-block;
	width: 98px;
	height: 98px;

	-webkit-transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s;
	transition: all .6s ease 0s;
}

.pattern__img:hover {
	-webkit-transform: scale(1.1, 1.1);
	-moz-transform: scale(1.1, 1.1);
	-o-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

.pattern__footer {
	text-align: center;
	font-family: "RobotoRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: #fff;

}

.pattern__itemTitle {
	text-transform: uppercase;
	margin: 0 0 10px;
}

.pattern__itemText {
	color: #fff;
}

.pattern__innerItem {
	margin-bottom: 44px;
}

@media ( max-width: 992px ) {

	.pattern {
		padding-top: 30px;
	}

	.pattern__title {
		font-size: 25px;
	}

	.pattern__itemText {
		font-size: 15px;
	}

	.pattern__itemText>br {
		display: none;
	}

}

@media ( min-width: 769px ) {

	.pattern__innerItem:nth-child(2n+1) {
		clear: both;
	}

}

@media ( max-width: 768px ) {

	.pattern__innerItem {
		width: 70%;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	.pattern {
		padding-bottom: 0;
	}

}

@media ( max-width: 479px ) {

	.pattern__innerItem {
		width: 100%;
	}

	.pattern__title {
		font-size: 20px;
	}

}
/* ------------------------>>> pattern End <<<---------------------------------------------- */



/* ------------------------>>> reasons <<<----------------------------------------------------- */
.reasons {
	padding: 55px 0 140px;
	background: url(../img/reasons/bg/bg_reasons.png) center 0 no-repeat;
	background-size: cover;
	position: relative;
	z-index: 2;
}

.reasons__title {
	text-align: center;
	font-family: "robotothin";
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: #1d1a1a;

	margin: 0 0 50px;
}

.reasons__slideContent {
	-webkit-box-shadow: 1px 1px 6.86px 0.14px rgba(114, 114, 103, 0.33);
	-moz-box-shadow: 1px 1px 6.86px 0.14px rgba(114, 114, 103, 0.33);
	-o-box-shadow: 1px 1px 6.86px 0.14px rgba(114, 114, 103, 0.33);
	box-shadow: 1px 1px 6.86px 0.14px rgba(114, 114, 103, 0.33);

	margin: 6px;
	padding: 37px 100px 30px;
}

.reasons__text {
	font-family: "RobotoRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #161718;

	margin: 0 0 20px;
}

.reasons__name {
	font-family: "RobotoMedium";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: #161718;
}

.reasons__btnWrap {
	text-align: center;
	padding: 48px 0 0;
}

.reasons__orderButton {
	width: 230px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-family: "RobotoRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: #161414;
	background: #f5fd1d;
	display: inline-block;

	-webkit-transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s;
	transition: all .6s ease 0s;
}

.reasons__orderButton:hover {
	background: #f4cc2f;
	color: #161414;
}

@media ( max-width: 992px ) {

	.reasons__title {
		font-size: 25px;
	}

}

@media ( max-width: 768px ) {
	.reasons {
		padding-top: 30px;
	}

	.reasons__title {
		margin-bottom: 30px;
	}

	.reasons__slideContent {
		padding: 20px 20px 20px;
	}

	.flex-direction-nav .flex-next,
	.flex-direction-nav .flex-prev {
		opacity: 0.2;
	}

	.flex-direction-nav .flex-next:hover,
	.flex-direction-nav .flex-prev:hover {
		opacity: 1;
	}

	.reasons__container,
	.reasons__innerItem {
		padding-left: 0;
		padding-right: 0;
	}

	.reasons__row {
		margin-left: 0;
		margin-right: 0;
	}

}

@media ( max-width: 479px ) {

	.reasons__slideContent {
		padding: 15px;
	}

	.reasons__text,
	.reasons__name {
		font-size: 15px;
		line-height: 18px;
	}

	.reasons__btnWrap {
		padding-top: 20px;
	}

	.reasons__title {
		font-size: 20px;
		padding-left: 15px;
		padding-right: 15px;
	}

}
/* ------------------------>>> reasons End <<<------------------------------------------------- */



/* ------------------------>>> benefit <<<----------------------------------------------------- */
.benefit {
	padding: 160px 0 172px;
	background: #6e7075 url(../img/benefit/bg/bg_benefit.jpg) center 0 no-repeat;
	background-size: cover;
	position: relative;
	z-index: 1;
	margin-top: -207px;
}

.benefit__title {
	text-align: center;
	font-family: "robotothin";
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: #fff;

	margin: 0 0 25px;
}

.benefit__header {
	padding: 20px 10px;
	background: #75a9fc;
	text-align: center;
	font-family: "RobotoLight";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 18px;
	color: #fff;
}

.benefit__footer {
	background: rgba(24, 24, 25, .38);
	font-family: "RobotoLight";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 20px;
	color: #fff;
	padding: 18px 10px 29px;
	text-align: center;
	min-height: 130px;
}

.benefit__innerItem {
	margin-bottom: 22px;
}


@media ( min-width: 769px ) {

	.benefit__innerItem:nth-child(2n+1) {
		clear: both;
	}

}

@media ( max-width: 768px ) {

	.benefit__title {
		font-size: 25px;
	}

	.benefit__innerItem {
		width: 80%;
		float: none;
		margin-left: auto;
		margin-right: auto;
	}

	.benefit__header {
		font-size: 17px;
	}

	.benefit__footer {
		font-size: 15px;
	}

}

@media ( max-width: 479px ) {

	.benefit__innerItem {
		width: 100%;
	}

	.benefit__title {
		font-size: 20px;
	}

}
/* ------------------------>>> benefit End <<<------------------------------------------------- */




/* ------------------------>>> get <<<----------------------------------------------------- */
.get {
	padding: 180px 0 53px;
	background: url(../img/get/bg/012.png) center 0 no-repeat;
	background-size: cover;
	position: relative;
	z-index: 2;
	margin-top: -217px;
}

.get__title {
	text-align: center;
	font-family: "robotothin";
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	color: #fff;

	margin: 0 0 53px;
}

.get__wrapper {
	background: #f8f9fa;
	padding: 25px 100px 58px;
}

.get__formTitle {
	text-align: center;
	font-family: "RobotoRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #3e3c3c;

	margin: 0 0 10px;
}

.get__formSubtitle {
	text-align: center;
	font-family: "RobotoRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #676464;

	margin: 0 0 20px;
}

.get__inner:after {
	display: table;
	content: "";
	clear: both;
}

.get__item {
	float: left;
	margin-right: 24px;
	width: 250px;
}

.get__item:last-child {
	margin-right: 0;
}

.get__inputText {
	width: 100%;
	height: 45px;
	border: 1px solid #eef0f2;
	background: #fff;
	text-align: center;
	line-height: 45px;
	font-family: "RobotoRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: #1c1a1a;
}

.get__inputSubmit {
	width: 100%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-family: "RobotoRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: #161414;
	background: #f5fd1d;
	display: block;
	border: 0 none;
	outline: none;

	-webkit-transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s;
	transition: all .6s ease 0s;
}

.get__inputSubmit:hover {
	background: #f4cc2f;
	color: #161414;
}

@media ( max-width: 1200px ) {

	.get__wrapper {
		padding: 50px;
	}

	.get__item {
		margin-right: 45px;
	}

}

@media ( max-width: 992px ) {

	.get__item {
		margin-right: 15px;
		width: 210px;
	}

	.get__wrapper {
		padding-left: 30px;
		padding-right: 30px;
	}

	.get__title {
		font-size: 25px;
		margin-bottom: 30px;
	}

}

@media ( max-width: 768px ) {

	.get__wrapper {
		padding: 30px;
	}

	.get__item {
		margin-right: 2%;
		margin-bottom: 2%;
		width: 49%;
	}

	.get__item:nth-child(2) {
		margin-right: 0;
	}

	.get__item:last-child {
		margin-right: 15px;
		margin-bottom: 0;
		width: 210px;
		margin-left: auto;
		margin-right: auto;
		float: none;
	}

}

@media ( max-width: 550px ) {

	.get__item {
		margin-right: auto !important;
		margin-left: auto !important;
		margin-bottom: 2%;
		width: 60% !important;
		float: none;
	}

}

@media ( max-width: 490px ) {

	.get__item {
		width: 100% !important;
		margin-bottom: 10px;
	}

	.get__wrapper {
		padding-left: 15px;
		padding-right: 15px;
	}

	.get__formTitle {
		font-size: 16px;
	}

	.get__formSubtitle {
		font-size: 13px;
	}

}
/* ------------------------>>> get End <<<------------------------------------------------- */



/* ------------------------>>> footer <<<----------------------------------------------------- */
.footer {
	padding: 44px 0 50px;
	background: #d5dbe6;
}

.footer__item:after {
	display: table;
	content: "";
	clear: both;
}

.footer__logoBlock {
	float: left;
	margin: 0 100px 0 0;
}

.footer__logoLink {
	display: block;
}

.footer__logoImg {
	display: inline-block;
	height: 91px;
	width: 72px;
}

.footer__navList-common,
.footer__navList-services {
	float: left;
	margin: 0 145px 0 0;
}

.footer__navList-contacts {
	float: left;
	margin:0;
}

ul[class^="footer__navList-"] h3 {
	font-family: "RobotoRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: #2d2d31;

	margin: 0 0 24px;
}

ul[class^="footer__navList-"] a {
	font-family: "RobotoRegular";
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: #2d2d31;
	margin: 0 0 3px;
}

ul[class^="footer__navList-"] a:hover {
	color: #2d2d31;
}

@media ( max-width: 992px ) {

	.footer__navList-common,
	.footer__navList-services {
		// float: left;
		margin: 0 80px 0 0;
	}

}

@media ( max-width: 768px ) {

	.footer {
		padding-top: 20px;
	}

	.footer__logoBlock {
		float: none;
		margin: 0;
		text-align: center;

		margin-bottom: 20px;
	}

	.footer__navList-common {
		float: none;
		text-align: center;
		margin: 0;
		border-bottom: 1px solid #2d2d31;

		margin-bottom: 20px;
	}

	.footer__navList-services {
		float: none;
		text-align: center;
		margin: 0;
		border-bottom: 1px solid #2d2d31;

		margin-bottom: 20px;
	}

	.footer__navList-contacts {
		float: none;
		text-align: center;
		margin: 0;

		margin-bottom: 0;
	}

	ul[class^="footer__navList-"]:after {
		display: table;
		content: "";
		clear: both;
	}

	ul[class^="footer__navList-"] {
		display: table;
		margin-right: auto;
		margin-left: auto;
	}

	ul[class^="footer__navList-"]>li {
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
	}

	ul[class^="footer__navList-"]>li:first-child {
		float: none;
		margin-right: 0 !important;
	}

	ul[class^="footer__navList-"]>li:last-child {
		margin-right: 0;
	}

	ul[class^="footer__navList-"] h3 {
		font-weight: 700;
	}

	.footer__navListItemContacts {
		float: none !important;
		margin-right: 0 !important;
		margin-bottom: 0 !important;
	}

}

@media ( max-width: 570px ) {

	ul[class^="footer__navList-"]>li {
		float: none;
		margin-right: 0;
		margin-bottom: 20px;
	}


}
/* ------------------------>>> footer End <<<------------------------------------------------- */





